body{
    background-color: #f5f7fb;
    font-family: Arial, sans-serif;
    text-align: center;
    
}

/* Navbar Styles */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0,0,0,0,0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #0a2a66;
}

.logo-badge {
    background-color: #c4161c;
    color: white;
    padding: 6px 10px;
    border-radius: 6px;
    margin-right: 8px;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links a:hover {
    color: #0a2a66;
}


/* Hero Section */
.hero{
    height: 80vh;
    background-image: url("hero.jpeg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
}

.hero-content {
    max-width: 500px;
    color: white;
}

.hero-content h1 {
    font-size: 42px;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.hero-btn {
    background-color: #c4161c;
    color: white;
    padding: 12px 28px;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    
}
.hero-btn:hover {
    background-color: #a81217;
}

.for-students{
    padding: 80px 20px;
    text-align: left;
    background-color: white ;
}
.for-students h2 {
    color: #0a2a66;
    margin-bottom: 20px;
    font-size: 32px;
}
.for-students p {
    max-width: 700px;
    margin: auto;
    font-size: 18px;
    line-height: 1.6;
    color: #555;
}


/* features section */
.features {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 80px 40px;
    background-color: #f4f6fb;
}

.feature-card {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
    text-align: center;
}

.feature-card h3{
    color: #0a2a66;
    margin-bottom: 15px;
}

.feature-card p {
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}

/* Footer Styles */
.footer {
    background-color: #0a2a66;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.footer-content p {
    margin-bottom: 20px;
    font-size: 15px;
    color: #dcdcdc;
}

.footer-content h3{
    margin-bottom: 10px;
}

.footer-links {
    list-style: none;
    padding: 0;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

.footer-links a {
    color: white;
    text-decoration: none;
    font-weight: 500;
}
.footer-links a:hover {
    text-decoration: underline;
}
copyright {
    font-size: 14px;
    color: #ccc;
}