body{
    background-color:white;
    font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}

.topnav{
    background-color: #333;
    overflow: hidden;
}

.topnav a{
    color: #f2f2f2;
    text-align: center;
    float: left;
    padding: 4px 15px;
    font-size: 17px;
    float: left;
    text-decoration: none;
}

.profile-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.profile-text{
    width: 65%;
    margin-top: -20px;
}

.profile-image {
    width: 35%;
    display: flex;
    justify-content: flex-end;
}

.profile-image img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;  /* prevent stretching */
}

.text-social {
  margin-top: 15px;
}

.text-social a {
  margin-right: 15px;
  display: inline-block;
  transition: transform 0.2s ease;
}

.text-social a:hover {
  transform: scale(1.2);
}

.social-icon {
  width: 30px;
  height: 30px;
  fill: #000; /* default black fill */
  filter: invert(0); /* to ensure dark icons on light background */
}

.education, .skills, .experience, .projects, .extra-curricalicular, .hobbies {
    margin: 20px 0;
}

.education h3, .skills h3, .experience h3, .projects h3, .extra-curricalicular h3, .hobbies h3 {
    color: #333;
    margin-bottom: 10px;
}

.footer {
    background-color: #43403f;
    color: #f2f2f2;
    text-align: center;
    padding: 10px 0;
    margin-top: 20px;
    width: 100%;
    height: 25px;
}